html{
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: url(https://wallpaperaccess.com/full/2460992.jpg) no-repeat;
    background-size: cover;
}

.container {
    display: grid;
    justify-content: center;
    border-style: solid;
    border-color: black;
    width: 600px;
    height: 600px;
    box-shadow: 5px 5px;
}

.container .child {
    display: flex;
    flex-direction: column;
    background: white; 
}

.body {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-between;
}

h1 {
    font-size: 48px;
    margin: 20px;
    -webkit-animation: rainbow 5s infinite; 
    text-shadow: 2px 2px black;
}
@-webkit-keyframes rainbow{
    0%{color: orange;}	
    10%{color: purple;}	
      20%{color: red;}
    30%{color: CadetBlue;}
      40%{color: yellow;}
    50%{color: coral;}
      60%{color: green;}
    70%{color: cyan;}
    80%{color: DeepPink;}
    90%{color: DodgerBlue;}
      100%{color: orange;}
  }

.settings-left, .settings-right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.settings-left [type=color] {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: none;
    padding: 0;
}
.settings-left [type=color]::-webkit-color-swatch-wrapper {
    /* border-style: none;
    height: 80px;
    width: 80px;
    border-radius: 10px; */
    -webkit-appearance: none;
    padding: 0;
    border: none;
}

.settings-left [type=color]::-webkit-color-swatch {
    -webkit-appearance: none;   
    border: none;
    border-radius: 100%;
}  

.settings-left label {
    font-size: 24px;
}

.pixels {
    background: black;
    outline: none;
}

.settings-right [type=button] {
    font-family: 'Courier New', Courier, monospace;
    width: 150px;
    font-size: 24px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    box-shadow: 5px 5px black;
    padding: 5px;
}

.settings-right [type=button]:hover, .settings-left input:hover {
    transform: scale(1.05);
}

input[type="range" i] {
    -webkit-appearance: none;
    background: white;
    height: 10px;
    border-radius: 5px;
    width: 200px;
}

input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    -webkit-appearance: none;
    background: black;
}

.settings-left-bottom, .settings-left-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
    
footer {
    padding: 20px;
    margin: 20px 0 0 0;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 16px;
    position: absolute;
    bottom: 0; 
}

.settings-left-bottom p {
    margin: 0;
    font-size: 24px;
}

